<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.robbez.customcam"
    version="0.2.11">
    <name>CustomCam</name>
    <description>The CustomCam Plugin ever implemented</description>
    <license>Apache 2.0</license>
    <keywords>cordova,CustomCam</keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/CustomCam.js" name="CustomCam">
        <clobbers target="CustomCam" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CustomCam" >
                <param name="android-package" value="CustomCam"/>
            </feature>
        </config-file>
        <source-file src="src/android/CustomCam.java" target-dir="src/" />
        <source-file src="src/android/CameraActivity.java" target-dir="src/" />
        <source-file src="src/android/CameraPreview.java" target-dir="src/" />
        <source-file src="src/android/CordovaApp.java" target-dir="src/" />
    </platform>
</plugin>